@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


$color-primario: #E4C212;
$color-secundario: #023047;
$color-header: #219EBC;
$letra: Inter;